.leftbar-color {
  background-color: chocolate;
}

.Link {
  cursor: pointer;
  color: #61afef;
}
.Link:hover {
  border-bottom: 2px solid #61afef;
}

.text-box {
  color: #e0e5ef;
  margin-top: 1.5em;
  width: 100%;
}
