.leftbar-color {
  background-color: chocolate;
}

.Link {
  cursor: pointer;
  color: #b2cafa;
}
.Link:hover {
  border-bottom: 2px solid #b2cafa;
}

.text-box {
  margin-top: 17rem;
  width: 100%;
  position: absolute;
}
