.register-box {
  margin-top: 2rem;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #798294;
  border-radius: 25px;
}

.header-color {
  color: #282c34;
}

.input-box-regis {
  display: flex;
  justify-content: center;
  margin: auto;
}
