.login-box {
  margin-top: 8rem;
  width: 100%;
  position: absolute;
}

.text-right {
  float: right;
  text-align: right;
}

.label-box {
  width: 30%;
}

.row-input-box {
  display: flex;
  justify-content: center;
}

.bg {
  background-color: purple;
}
