.Mainbar {
  flex-direction: row;
  display: flex;
  width: 100%;
}

.RightBar {
  width: 25%;
}

.RightBar .Header {
  font-family: sans-serif "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  align-content: center;
  text-align: center;
}

.UserBar {
  width: 25%;
}
<<<<<<< HEAD

.general-box{
  margin: auto;
  width: 80%;
  border: 3px;
  padding: 3px;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
  margin: 10px;
}

#button-kub{
  margin: 10px;
}
=======
.center {
  margin: auto;
  align-content: center;
  text-align: center;
  width: 30%;
}
>>>>>>> b91693d76af0003142860433f14089a52c525d38
