/* #===- box -===# */
.mainbar-box {
  flex-direction: row;
  display: flex;
  width: 100%;
}

.leftbar-box {
  display: flex;
  background-color: cornsilk;
}

.midbar-box {
  display: flex;
  background-color: darkgoldenrod;
}

.rightbar-box {
  display: flex;
  background-color: cornsilk;
}

/* #===- center -===# */
.text-center {
  text-align: center;
}

.img-center {
  margin: auto;
}

.general-box{
  margin: 30px;
  width: 300px;
  padding: 20px;
}

#border-text{
  padding: 10px;
  margin: 100px;
}

#button-kub{
  margin: 10px;
}

#c1, #c2, #c3 {
  margin: 10px; 
  width: 33%; 
  width: -webkit-calc(33.33% - 20px); 
  width: -moz-calc(33.33% - 20px);
  width: calc(33.33% - 20px);
}
