.Mainbar {
  flex-direction: row;
  display: flex;
  width: 100%;
}

.RightBar {
  width: 25%;
}

.RightBar .Header {
  font-family: sans-serif 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  align-content: center;
  text-align: center;
}

.UserBar {
  width: 25%;
}

.general-box{
  margin: 10px;
  width: 80%;
  border: 3px;
  padding: 3px;
}


#button-kub{
  margin: 10px;
}