.input-box {
  display: flex;
  padding: 0.5rem;
}

.input-big-box {
  padding: 0.5rem;
}

.activity-box {
  width: 100%;
  position: absolute;
}

.bg-activity {
  background-color: lightseagreen;
}

.input-box-size {
  width: 30%;
}

.your-ac-box {
  margin-top: 35rem;
}

.box-test-btn {
  margin-top: 10rem;
}

.all-ac-box {
  width: 100%;
  position: absolute;
  text-align: center;
}

.text-white {
  color: white;
}
