.input-box {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

.input-big-box {
  padding: 0.5rem;
}

.activity-box {
  width: 100%;
  position: absolute;
}

.bg-todayActivity {
  padding: 10px 0px;
  background-color: #98c379;
  font-size: 18px;
  color: #20232a;
  margin-bottom: 10px;
}

.bg-yourActivity {
  padding: 10px 0px;
  background-color: #282c34;
  font-size: 18px;
  color: #abb2bf;
  margin-bottom: 10px;
}

.input-box-size {
  width: 30%;
}

.your-ac-box {
  margin-top: 35rem;
}

.box-your-btn {
  width: 100%;
  margin-top: 39.5rem;
  position: absolute;
}

.box-today-btn {
  width: 100%;
  margin-top: 7.5rem;
  position: absolute;
}

.all-ac-box {
  width: 100%;
  position: absolute;
  text-align: center;
}

.text-white {
  color: white;
}

.datetime-picker-box {
  width: 189px;
}

.btn-activity {
  width: 80%;
}

.buttonRow {
  margin: 20px;
}

.row-input-box {
}
